@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Shin-dig!</h1>
    <p>
        Shin-dig is the best restaurant in the state of South Dakota.
        Feel free to browse our 
    </p>
</div>
